.root {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  background: var(--background);
  /* border: 1px solid var(--accents-2);
  border-radius: 5px;
  box-shadow: var(--shadow-smallest); */
}

.card {
  background: var(--background);
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow-smallest);
}

/* .card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
/* } */ 

.root a {
  text-decoration: none;
}

.creator {
  display: inline-flex;
}


.content {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.reframe {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both vertically and horizontally */
  width: 100%; /* As wide as the parent */
  height: 100%;
  min-width: 800px;
  min-height: 400px;
}
